<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
<style>

h1 {
  font-family: Bender;
  font-size: 32pt;
  font-weight: bold;
  color: black;
  text-align: center;
  border-bottom-style: dotted;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
  padding-bottom: 10px;
}

p, ul {
  padding: 0 30px;
  font-family: OpenSans-Light;
  font-size: 12pt;
  color: #545454;
  line-height: 150%;
  height: auto;
}

ul {
  list-style: none;
  margin-left: 20px;
}

li {
    padding-left: 60px;
}

html {
    background-color: white;
}

</style>

</head>
<body>
    <h1>Private Policy</h1>
</body>
</html>

